body {background: #E9E0D5}

.subfield {
  width: 200px;
}

.subsubfield {
  display: inline-block;
  width: 200px;
}
.btn-success {
  color: #9D9D9D;
  background-color: #2E79B9;
  border-color: #fff;
}
 .navbar{
   margin-bottom: 0;
 }

table {
  padding-left: .5em;
  text-align: center;
}
